
<table id="navbar">
  <tr>
    <th><a href="/users/dashboard/<%= @user.id %>">Dashboard</a>
    <th><a a href="/users/logout">Log Out</a></th>
  </tr>
  </table>


<br>
<br>
<br>

<h2>Welcome to your dashboard, <%=@user.name%>!</h2>
<p>Click on any project for more information. If you don't see any, create one!</p>

<br>
<h1>My Projects</h1>
<br>
  <%if @projects %>
    <% if @projects.size == 1 %>
    <ul>
      <li><a href="/projects/<%= @projects.first.id %>"><%= @projects.first.name.capitalize %></a></li>
    </ul>
    <% elsif @projects.size > 1 %>
      <% @projects.each do |project| %>
      <ul>
        <li><a href="/projects/<%= project.id %>"><%= project.name.capitalize %></a></li>
      </ul>
      <% end %>
    <% end %>
  <% end %>
  <!-- todo: render flash message if no projects-->

  <br>
  <br>
  <a href="/projects/new"><input type="submit" value="Create New Project"></a>
  <br>
  <br>
  <br>

  <h1>Supplies for this project</h1>
  <br>

    <% @user.projects.each do |project| %>
      <% s = project.supplies %>
      <% s.uniq.each do |supply| %>
        <a href="/supplies/<%= supply.id %>"><%= supply.name %></a>
        <br>
      <% end %>
    <% end %>

    <br>
    <br>

    <br>
    <br>
    <br>
