<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  <style>

#navbar {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#navbar th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #fff;
  color: white;
}

</style>
</head>
<body>

<% if @project %>
  <table id="navbar">
    <tr>
      <th><a href="/supplies/assign/<%= @project.id %>">Update Supplies</a></th>
      <th><form action="/projects/<%= @project.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="patch">
      </form><a href="/projects/<%= @project.id %>">Delete Project</a></th>
      <th><a href="/users/dashboard/<%= @project.id %>">Dashboard</a></th>
      <th><a href="href="/users/logout">Log Out</a></th>
    </tr>
    </table>
<% else %>
<table id="navbar">
  <tr>
    <th><a href="href="/users/logout">Log Out</a></th>
  </tr>
  </table>
<% end %>

<br>
<br>
<br>


<h2>Welcome to your dashboard, <%=@user.name%>!</h2>
<p>Click on any project for more information</p>


<h1>My Projects</h1>
<br>
  <%if @projects %>
    <% if @projects.size == 1 %>
    <ul>
      <li><a href="/projects/<%= @projects.first.id %>"><%= @projects.first.name.capitalize %></a></li>
    </ul>
    <% binding.pry %>
    <% elsif @projects.size > 1 %>
      <% @projects.each do |project| %>
      <ul>
        <li><a href="/projects/<%= project.id %>"><%= project.name.capitalize %></a></li>
      </ul>
      <% end %>
    <% end %>
  <% end %>
  <!-- todo: render flash message if no projects-->

  <br>
  <br>
  <a href="/projects/new"><input type="submit" value="Create New Project"></a>
  <br>
  <br>
  <br>
  </body>

  <h1>My Supplies</h1>
  <br>

  <% user = @user %>
  <% @all =  Helpers.all_supplies(user) %>
  <% if @all %>
    <% if @all.size == 1 %>
      <a href="<a href="/supplies/<%= supply.id %>">
      <%= supply.name.capitalize %></a>

    <% elsif @all.size > 1 %>
      <% @all.each do |supply| %>
      <ul>
        <li><a href="/supplies/<%= supply.id %>"><%= supply.name.capitalize %></a></li>
      </ul>
      <% end %>
    <% end %>
  <% end %>


    <br>
    <br>
    <a href="/supplies/new"><input type="submit" value="Create New Supplies"></a>
    <br>
    <br>
    <br>
    </body>
