<h2>Welcome to your dashboard, <%=@user.name%>!</h2>
<p>Click on any project for more information</p>


<h1>My Projects</h1>
<br>
  <% if @projects %>
    <% if @projects.size == 1 %>
    <ul>
      <li><a href="/projects/<%= @projects.first.id %>"><%= @projects.first.name %></a></li>
    </ul>
    <% elsif @projects.size > 1 %>
      <% @projects.each do |project| %>
      <ul>
        <li><a href="/projects/<%= project.id %>"><%= project.name %></a></li>
      </ul>
      <% end %>
    <% end %>
  <% else %>
    <br>
    <br>
    <h3> Let's get started! Click the button to create a new project.</h3>
    <br>
  <% end %>
  <br>
  <br>

  <a href="/projects/new"><input type="submit" value="Create New Project"></a>
  <br>
  <br>
  <br>
<a href="/users/logout"><input type="submit" value="Log Out"></a>
