
<body>

  <table id="navbar">
    <tr>
      <th><a href="/users/dashboard/<%= @user.id %>">Dashboard</a></th>
      <th><a a href="/users/logout">Log Out</a></th>
    </tr>
    </table>

<br>
<br>
<h2>Edit your project.</h2>
<p> Fill in the fields you'd like to update.</p>

<form action="/projects/<%=@project.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
    <h1><%= @project.name %></h1>
    <input type="text" name="name" placeholder="update name">
    <br>
    <br>
    <h3><label for="Type"></label>Type:</h3>
    <h4><%= @project.project_type %></h4>
    <input type="text" name="project_type" id="project type" placeholder="update_project_type">
    <br>
    <br>
    <h3><label for="Date"></label>Date:</h3>
    <h4><%= @project.date %></h4>
    <input type="date" name="date" id="date"placeholder="new_date">
    <br>
    <br>
    <h3><label for="Attendees"></label>Attendees:</h3>
    <h4><%= @project.attendees %></h4>
    <input type="integer" name="attendees" id="attendees" placeholder="update number of attendees">
    <br>
    <br>
    <h3><label for="Supplies Budget"></label>Supplies Budget:</h3>
    <input type="number" min="0.00" max="10000.00" step="1.00" name="supplies_budget" id="supplies budget">
    <h4><%= @project.date %></h4>
    <br>
    <br>
    <input type="submit" placeholder="Update Project">
  <br>
  <br>
  <br>

</form>

</body>
