

<h1><%= @project.name %></h1>
<br>
<br>
<h3>Type: </h3>
<h4><%= @project.project_type %></h4>
<br>
<h3>Date: </h3>
<h4><%= @project.date %></h4>
<br>
<h3>Attendees: </h3>
<h4><%= @project.attendees %></h4>
<br>
<h3>Supplies Budget:  </h3>
<h4><%= @project.supplies_budget %></h4>
<br>

<% Project.first.supplies.each do |supply| %>
  <table>
    <tr>
      <th>Name</th>
      <th>Vendor</th>
      <th>Website</th>
      <th>Unit type</th>
      <th>Price per unit</th>
      <th>Units needed</th>
    </tr>
    <tr>
      <td><%= supply.name %></td>
      <td><%= supply.vendor %></td>
      <td><%= supply.website %></td>
      <td><%= supply.unit_type %></td>
      <td><%= supply.price_per_unit %></td>
      <td><%= supply.units_needed %></td>
    </tr>

  </table>
<% end %>

<a href="/projects/<%= @project.id %>/edit"><input type="submit" value="Edit"></a>

<a href="/supplies/assign/<%= @project.id %>"><input type="submit" value="Add Supplies"></a>

<br>
<br>
<a href="/projects/<%= @project.id %>/delete"><input type="submit" value="Delete Project"></a>
<br>
<br>
<a href="/users/dashboard"><input type="submit" value="Back to my dashboard"></a>


<a href="/users/logout"><input type="submit" value="Log Out"></a>
