

<table id="navbar">
  <tr>
    <th><a href="/users/dashboard/<%= @user.id %>">Dashboard</a>
    <th><a a href="/users/logout">Log Out</a></th>
  </tr>
</table>

<br>
<br>


<h1>Project: <%= @project.name.capitalize %></h1>
<br>
<a href="/projects/<%= @project.id %>/edit"
  "><input type="submit" value= "Update Project"></a>
  <form  action="/projects/<%= @project.id %>" method="delete">

  </form>
  <a href="/projects/<%= @project.id %>/edit"
    "><input type="submit" value= "Delete Project"></a>
<br>
<br>

<table id="projects">
  <tr>
    <th>Type</th>
    <th>Date</th>
    <th>Attendees</th>
    <th>Supplies Budget</th>
  </tr>
  <tr>
    <td><%= @project.project_type %></td>
    <td><%= @project.date %></td>
    <td><%= @project.attendees %></td>
    <td><%= @project.supplies_budget %></td>
  </tr>
</table>
<br>
<br>
<br>

<h1>Supplies</h1>
<br>
<!--
<form action="/supplies/assign/project/<%=@project.id%>" method="post">
-->

<form action="/supplies/assign/<%=@project.id%>" method="get">
  <input type="submit" value= "Update Supplies">
</form>
<br>
<table id="supplies">
  <tr>
    <th>Name</th>
    <th>Vendor</th>
    <th>Website</th>
    <th>Unit type</th>
    <th>Price per unit</th>
  </tr>

  <% if @project.supplies.size > 1 %>
    <% @project.supplies.uniq.each do |supply| %>
    <tr>
      <td><a href="/supplies/<%= supply.id %>"><%= supply.name %></a></td>
      <td><%= supply.vendor %></td>
      <td><a href="<%= supply.website %>"><%= supply.website %></a></td>
      <td><%= supply.unit_type %></td>
      <td><%= supply.price_per_unit %></td>
    </tr>
    <% end %>
  <% end %>

  <% if @project.supplies == 1 %>
    <% only = @project.supplies.first %>
    <tr>
      <td><a href="/supplies/<%= only.id %>"><%= only.name %></a></td>
      <td><%= only.vendor %></td>
      <td><a href="<%= only.website %>"></a><%= only.website %></td>
      <td><%= only.unit_type %></td>
      <td><%= only.price_per_unit %></td>
    </tr>
  <% end %>
  </table>
  <br>
  <br>
  <br>
  <br>
