<!DOCTYPE html>
<html>
<head>
<style>
#supplies, #projects {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#supplies td, #projects th {
  border: 1px solid #ddd;
  padding: 8px;
}

#supplies, #projects tr:nth-child(even){background-color: #f2f2f2;}

#supplies tr:hover {background-color: #ddd;}

#supplies th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

#projects th {
  padding-top: 24px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}


</style>
</head>



<h1><%= @project.name %></h1>
<br>
<br>
<table id="projects">
  <tr>
    <th>Type</th>
    <th>Date</th>
    <th>Attendees</th>
    <th>Supplies Budget</th>
  </tr>
  <tr>
    <td><%= @project.project_type %></td>
    <td><%= @project.date %></td>
    <td><%= @project.attendees %></td>
    <td><%= @project.supplies_budget %></td>
  </tr>
</table>
<br>
<br>
<br>

<table id="supplies">
  <tr>
    <th>Name</th>
    <th>Vendor</th>
    <th>Website</th>
    <th>Unit type</th>
    <th>Price per unit</th>
    <th>Units needed</th>
  </tr>

  <% if @project.supplies.size > 1 %>
    <% @project.supplies.each do |supply| %>
    <tr>
      <td><%= supply.name %></td>
      <td><%= supply.vendor %></td>
      <td><%= supply.website %></td>
      <td><%= supply.unit_type %></td>
      <td><%= supply.price_per_unit %></td>
      <td><%= supply.units_needed %></td>
    </tr>
    <% end %>
  <% end %>

  <% if @project.supplies == 1 %>
    <% only = @project.supplies.first %>
    <tr>
      <td><%= only.name %></td>
      <td><%= only.vendor %></td>
      <td><%= only.website %></td>
      <td><%= only.unit_type %></td>
      <td><%= only.price_per_unit %></td>
      <td><%= only.units_needed %></td>
    </tr>
  <% end %>
  </table>

<a href="/projects/<%= @project.id %>/edit"><input type="submit" value="Edit"></a>

<a href="/supplies/assign/<%= @project.id %>"><input type="submit" value="Add Supplies"></a>

<br>
<br>
<a href="/projects/<%= @project.id %>/delete"><input type="submit" value="Delete Project"></a>
<br>
<br>
<a href="users/dashboard"><input type="submit" value="Back to my dashboard"></a>


<a href="/users/logout"><input type="submit" value="Log Out"></a>
