
<table id="navbar">
  <tr>
    <th><a href="/users/dashboard/<%= @user.id %>">Dashboard</a>
    <th><a a href="/users/logout">Log Out</a></th>
  </tr>
  </table>

<br>
<h2>Project Supplies</h2>
<br>

<h1><%= @project.name.capitalize %></h1>


<h2>Supplies already assigned to this project</h2>

<form action="/supplies/assign/<%=@project.id%>/edit" method="post">
  <input type="hidden" id="hidden" value="patch" name="_method">

  <% if @current %>
    <% if @current.size > 1 %>
      <% @current.each do |supply| %>
        <input type="checkbox" id="<%= supply.name %>" name="user[project_ids][supplies][]" value="<%= supply.name %>" checked>  <%= supply.name %><br>
      <% end %>
    <% elsif @current.size == 1 %>
        <input type="checkbox" id="<%= @current.first.name %>" name="user[project_ids][supplies][]" value="<%= @current.first.name %>" checked>  <%= @current.first.name %><br>
    <% end %>
  <% end %>



  <br>
  <br>

  <p>Would you like to add any of these supplies from your other projects?</p>
  <% if @other %>
    <% if @other.size > 1 %>
      <% @other.uniq.each do |supply| %>
        <input type="checkbox" id="<%= supply.name %>" name="user[project_ids][supplies][]" value="<%= supply.name %>">  <%= supply.name %><br>
      <% end %>
    <% elsif @other.size == 1 %>
      <% only = @other.first %>
      <input type="checkbox" id="<%= only.name %>" name="user[project_ids][supplies][]" value="<%= only.name %>" >  <%= only.name %><br>
    <% end %>
  <% end %>


  <br>
  <br>

  <h5> or create some new supplies:</h5>

  <input type="string"  name="user[project_ids][supplies][]">
  <br>
  <br>
  <input type="string" name="user[project_ids][supplies][]">
  <br>
  <br>
  <input type="string" name="user[project_ids][supplies][]">
  <br>
  <br>

  <p>Click the button below to update this project's supplies. Then reload your page to see the changes.</p>

  <input type="submit" id="submit" value="Update Current Supplies">
</form>
