<h1><%= @project.name %></h1>

<form action="/supplies/assign/:id" method="post">



<% if !@project.supplies %>
  <p>This project doesn't have any supplies yet. Let's add some!</p>
<% else %>
<br>
<br>
  <p>Supplies already assigned to this project:</p>
  <% @current_project_supplies.each do |supply| %>
    <% if supply.name %>
      <input type="checkbox" id="<%= supply.name %>" name="user[project_ids][][supplies]" value="<%= supply.name %>" checked>  <%= supply.name %><br>
    <% end %>
  <% end %>
<% end %>

<br>
<br>



<p>Would you like to add any of these supplies from your other projects?</p>
  <% @other_supplies.each do |supply| %>
    <br>
    <input type="checkbox" id="<%=supply.name%>" name="user[project_ids][][supplies]" value="<%=supply.name%>">
    <%= supply.name%>
  <% end %>
<br>
<br>

<h5> or create some new supplies:</h5>
<input type="hidden" name="project_name" value="<%=@project.name%>">
<input type="string"  name="[supply1][name]">
<br>
<br>
<input type="string" name="[supply2][name]">
<br>
<br>
<input type="string" name="[supply3][name]">
<br>
<br>

<input type="submit" value="assign">

</form>
