<!DOCTYPE html>
<html>
<head>
<style>

#navbar {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#navbar th {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  background-color: #469ad6;
  color: white;
}


</style>
</head>
<table id="navbar">
  <tr>
    <th><h2>Project Supplies</h2><th>
    <th><a href="/users/logout">Log Out</a></th>
  </tr>
  </table>

<br>
<br>
<br>

<h1><%= @project.name.capitalize %></h1>


<p>Supplies already assigned to this project (fix so you can uncheck to remove):</p>
<% if @current %>
  <% if @current.size > 1 %>
    <% @current.each do |supply| %>
      <% supply.delete if !supply.name %>
      <input type="checkbox" id="<%= supply.name %>" name="user[project_ids][][supplies]" value="<%= supply.name %>" checked>  <%= supply.name %><br>
    <% end %>
  <% elsif @current.size == 1 %>
      <% only = @current.first %>
      <input type="checkbox" id="<%= only.name %>" name="user[project_ids][][supplies]" value="<%= only.name %>" checked>  <%= only.name %><br>
  <% end %>
<% end %>


<br>
<br>
<p>Would you like to add any of these supplies from your other projects?</p>
<% if @other %>
  <% if @other.size > 1 %>
    <% @other.each do |supply| %>
      <input type="checkbox" id="<%= supply.name %>" name="user[project_ids][][supplies]" value="<%= supply.name %>">  <%= supply.name %><br>
    <% end %>
  <% elsif @other.size == 1 %>
    <% only = @other.first %>
    <input type="checkbox" id="<%= only.name %>" name="user[project_ids][][supplies]" value="<%= only.name %>" checked>  <%= only.name %><br>
  <% end %>
<% end %>

<br>
<br>

<h5> or create some new supplies:</h5>
<form action="/supplies/show/project/<%= @project.id %>" method="post">
  <input type="hidden" name="[:id]" value="<%= @project.id %>">
  <input type="string"  name="supply1_name">
  <br>
  <br>
  <input type="string" name="supply2_name">
  <br>
  <br>
  <input type="string" name="supply3_name">
  <br>
  <br>

  <input type="submit" value="update">

</form>
<br>
<br>
