<h1><%= @project.name %></h1>

<!-- :id is project.id -->
<form action="/supplies/assign/:id" method="post">


<% if !@project.supplies %>
  <h5>This project doesn't have any supplies yet. Let's add some!</h5>
<% else %>
  <p>Supplies already assigned to this project:</p>
  <% @project.supplies.each do |supply| %>
    <input type="checkbox" id="<%= supply.name %>" name="user[project_ids][][supplies]" value="<%= supply.name %>" checked>
  <% end %>
<% end %>

<br>
<br>



<p>Would you like to add any of these supplies from your other projects?</p>

<% @user.projects.each do |project| %>
  <% project.supplies.uniq.each do |supply| %>
    <br>
    <input type="checkbox" id="<%=supply.name%>" name="user[project_ids][][supplies]" value="<%=supply.name%>">
    <%= supply.name.capitalize%>

  <% end %>
<% end %>
<br>
<br>

<h5> or create some new supplies:</h5>
<input type="string"  name="[supply1][name]">
<br>
<br>
<input type="string" name="[supply2][name]">
<br>
<br>
<input type="string" name="[supply3][name]">
<br>
<br>

<input type="submit" value="assign">

</form>
