
<table id="navbar">
  <tr>
    <th><a href="/users/dashboard/<%= @user.id %>">Dashboard</a>
    <th><a a href="/users/logout">Log Out</a></th>
  </tr>
  </table>

  <br>
  <h2>Project Supplies</h2>
  <br>
  <h1><%= @project.name.capitalize %></h1>

  <br>
  <h4>Supplies already assigned to this project</h4>
  <p>(uncheck to remove)</p>
  <br>
  <form action="/supplies/assign/<%=@project.id%>/edit" method="post">
    <input type="hidden" id="hidden" value="patch" name="_method">

  <% if @project.supplies.uniq.size >= 1 %>
    <% @project.supplies.uniq.map do |supply| %>
      <input type="checkbox" id="<%= supply.name %>" name="user[project_ids][supplies][]" value="<%= supply.name %>" checked>  <%= supply.name %><br>
    <% end %>
  <% end %>

  <br>
  <br>
  <h4>Would you like to add any of these supplies from your other projects?</h4>
  <br>

  <% unless @other.empty? %>
  <% binding.pry %>
    <% @other.uniq.map do |supply| %>
    <% binding.pry %>
      <input type="checkbox" id="<%= supply.name %>" name="user[project_ids][supplies][]" value="<%= supply.name %>">  <%= supply.name %><br>
    <% end %>
  <% end %>

  <br>
  <br>
  <h4> or, create some new supplies:</h4>
  <p>You can edit these new supplies later, in your <a href="/users/dashboard/<%= @user.id %>">dashboard</a></p>
  <br>
  <input type="string"  name="user[project_ids][supplies][]">
  <br>
  <br>
  <input type="string" name="user[project_ids][supplies][]">
  <br>
  <br>
  <input type="string" name="user[project_ids][supplies][]">
  <br>
  <br>
  <br>
  <h4>Changes look good? If so, click below! </h4>
  <br>
  <input type="submit" id="submit" value="Update Current Supplies">
</form>
