
<table id="navbar">
  <tr>
    <th><a href="/users/dashboard/<%= @user.id %>">Dashboard</a>
    <th><a a href="/users/logout">Log Out</a></th>
  </tr>
  </table>
<br>


<h1><%= @supply.name %></h1>
<br>
<b>

<h3>Vendor: <%= @supply.vendor %></h3>
<br>

<h3>Website: <%= @supply.website %></h3>
<br>

<h3>Unit type: <%= @supply.unit_type %></h3>
<br>

<h3>Price per unit: <%= @supply.price_per_unit %></h3>
<br>



<a href="/supplies/<%= @supply.id %>/edit"><input type="submit" value="Edit this Supply"></a>
<br>

<a href="/supplies/<%= @supply.id %>/delete"><input type="submit" value="Delete this Supply"></a>
