<<!DOCTYPE html>
<html>
<head>
<style>

#navbar {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#navbar th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #469ad6;
  color: white;
}


</style>
</head>
<body>
<table id="navbar">
  <tr>
    <th><a href="/users/dashboard/<%= @user.id %>">Dashboard</a>
    <th><a a href="/users/logout">Log Out</a></th>
  </tr>
  </table>

<br>


<h1><%= @supply.name %></h1>
<br>
<b>

<h3>Vendor: <%= @supply.vendor %></h3>
<br>

<h3>Website: <%= @supply.website %></h3>
<br>

<h3>Unit type: <%= @supply.unit_type %></h3>
<br>

<h3>Price per unit: <%= @supply.price_per_unit %></h3>
<br>

<h3>Units needed: <%= @supply.units_needed %></h3>


<a href="/supplies/<%= @supply.id %>/edit"><input type="submit" value="Edit this Supply"></a>

</body>
